//site color variables
$body-color: #fff;
// $primary-color: #EAA4A4;
$primary-color: #ffc7d4;
// $secondary-color: #ADD6D2;
$secondary-color: #c294d6;
$text-color: #9D9EA5;
// $text-color: #626261;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
// $gray: #f9f9f9;
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
