//site color variables
$body-color: #fff;
// $primary-color: #ffc7d4;
$primary-color: #ffa7bc;
$secondary-color: #c294d6;
$third-color: #ffdfba;
$text-color: #55565d;
// $text-color-dark: #00113E;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #fff9f3;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Lobster Two',
cursive,
cursive;
$secondary-font: 'Montserrat',
sans-serif;